.horizontal_div {
	text-align: center;
	margin-bottom: 20px;
}

.horizontal_div > * {
	display: table;
	float: left;
	padding-bottom: 10px;
}

.vertical_div {
	display : table-cell;
	vertical-align: middle;
	margin-left: 50px;
	text-align: left;
	font-family: 'Asap', sans-serif;
	font-size: 10em;
}

.menu_bar {
	text-align: center;
	margin-top: 20px;
}

.menu_bar > * {
	float: left;
	color: black;
	text-decoration: none;
	border: none;
	width: 20%;
}

#profile_image {
	border-radius: 10px;
	/* float: right; */
	width: 170px;
	/* vertical-align: center; */
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 50px;
	margin-bottom: 10px
}

.menu_thumbnail {
	/*width: 40px;*/
	height: 40px;
	padding: 0px;
	margin: 0px;
}

.menu_item {
	margin-top: 2px;
}

.menu_item > * {
	padding-bottom: 0px;
	margin-bottom: 0px;
}