.navigation_button_image {
	width: 40px;
	height: 40px;
}

#up_navigation_button {
	border: none;
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#down_navigation_button {
	border: none;
	position: fixed;
	right: 0px;
	top: 0px;
	margin-right: 20px;
	margin-top: 20px;
}
